h1 {
text-align: center;
}
a{ 
    text-align: center;
}

  
img{ width: 150px;
height: auto;
   float: right;
   border: 10px solid maroon;
}
.adress { 
    text-align: center;
    display: inline;
    color: pink;
    
   
}
